FrontEnd/Service References/DevicesService/Demo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://appdynamics.com/Demo" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://appdynamics.com/Demo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://appdynamics.com/Demo/Imports">
      <xsd:import namespace="http://appdynamics.com/Demo" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MiddleTier" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DevicesService_GetDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDevices" />
  </wsdl:message>
  <wsdl:message name="DevicesService_GetDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="DevicesService_GetUserDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDevices" />
  </wsdl:message>
  <wsdl:message name="DevicesService_GetUserDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="DevicesService_GetDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDevice" />
  </wsdl:message>
  <wsdl:message name="DevicesService_GetDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="DevicesService_GetDeviceSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceSettings" />
  </wsdl:message>
  <wsdl:message name="DevicesService_GetDeviceSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="DevicesService_UpdateDeviceSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeviceSettings" />
  </wsdl:message>
  <wsdl:message name="DevicesService_UpdateDeviceSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeviceSettingsResponse" />
  </wsdl:message>
  <wsdl:portType name="DevicesService">
    <wsdl:operation name="GetDevices">
      <wsdl:input wsaw:Action="GetDevices" message="tns:DevicesService_GetDevices_InputMessage" />
      <wsdl:output wsaw:Action="http://appdynamics.com/Demo/DevicesService/GetDevicesResponse" message="tns:DevicesService_GetDevices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDevices">
      <wsdl:input wsaw:Action="GetUserDevices" message="tns:DevicesService_GetUserDevices_InputMessage" />
      <wsdl:output wsaw:Action="http://appdynamics.com/Demo/DevicesService/GetUserDevicesResponse" message="tns:DevicesService_GetUserDevices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDevice">
      <wsdl:input wsaw:Action="GetDevice" message="tns:DevicesService_GetDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://appdynamics.com/Demo/DevicesService/GetDeviceResponse" message="tns:DevicesService_GetDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceSettings">
      <wsdl:input wsaw:Action="GetDeviceSettings" message="tns:DevicesService_GetDeviceSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://appdynamics.com/Demo/DevicesService/GetDeviceSettingsResponse" message="tns:DevicesService_GetDeviceSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeviceSettings">
      <wsdl:input wsaw:Action="UpdateDeviceSettings" message="tns:DevicesService_UpdateDeviceSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://appdynamics.com/Demo/DevicesService/UpdateDeviceSettingsResponse" message="tns:DevicesService_UpdateDeviceSettings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>