FrontEnd/Service References/DevicesService/MiddleTier.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiddleTier" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiddleTier" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDeviceContext">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceContext" nillable="true" type="tns:DeviceContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceContext" nillable="true" type="tns:ArrayOfDeviceContext" />
  <xs:complexType name="DeviceContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="Family" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceContext" nillable="true" type="tns:DeviceContext" />
</xs:schema>